.wrapper{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    margin: 0 auto;
    max-height: 300px;
    overflow: hidden;
}

.header_img {
    max-width: 100%;
    height: auto;

}
.user_info {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.user_avatar {
    width: 175px;
    height: 175px;
}
.user_avatarImg {
    width: 100%;
    border-radius: 55%;
}


.user_bio{
    padding-left: 50px;
    color: #47525E;
}

.user_bio p {
    margin: 0;
}

.username{
    font-size: 26px;
}

.birthdate {
    font-size: 20px;
}

.city {
    font-size: 20px;
}

.education {
    font-size: 20px;
}

.website {
    font-size: 20px;
}


