.friend_link{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.user_avatar {
    border-radius: 50%;

}

.user_avatar-s {
    width: 40px;
}

.user_avatar-m {
    width: 60px;
}

.user_avatar-l {
    width: 80px;
}

