.container {
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
}

.heading {
    color: #47525E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

.add_post_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea {
    margin-top: 20px;
    border: none;
    background-color: #E6EEEA;
    width: inherit;
    height: 100px;
    outline: none;
    resize: none;
    box-shadow: 1px 1px 2px #d6dbd8;
}

.add_post_button {
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 0;
    width: 160px;
    height: 40px;
    background-color: #0CB658;
    margin-left: auto;
    box-shadow: 1px 1px 2px #3c3c3c;
}

.add_post_button:active {
    background-color: #0CB658;
    box-shadow: none;
}

.posts {
    padding-top: 20px;
}