.header {
    grid-area: header;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.header__logo{
    width: 10%;
    height: 100%;
    background: url("/src/assets/img/logo_transparent.png") no-repeat center/120%;
}