.nav{
    grid-area: nav;
    color: white;

}

.wrapper {
    padding: 10px 5px 10px 8px;
    background-color: #42c4ec;
    box-shadow: 1px 1px 2px #3c3c3c;
}

.item {
    padding-left: 10px;
    border-bottom: solid 1px #2cb8e2;
    margin-bottom: 5px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.item:hover {
    animation: hover_background 2s;
    background-color: #3fbae0;
}

.link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -1px 0 1px #2cb8e2, 0 1px 1px #2cb8e2, 1px 0 1px #2cb8e2, 0 -1px 1px #2cb8e2;
}

.active {
    color: #dddfe2;
    text-shadow: -1px 0 2px #22b2dd, 0 1px 2px #22b2dd, 1px 0 2px #22b2dd, 0 -1px 2px #22b2dd;
}

.friendsWrapper {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.friendLink{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}



.blank_item {
    box-shadow: none;
    border-bottom: none;
    font-size: 0;
}
.blank_item:hover {
    background: none;
}

@keyframes hover_background {
    0% {background-color: #42c4ec}
}

