.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows:  100px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}





