.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.heading {
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    color: #47525E;
}

.dialogs {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.dialogs_item {

}

.messages {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.messages_item {
    display: flex;
    flex-direction: row;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
}

.user_avatar {
    border-radius: 50%;
    width: 80px;
}

.message {

}